@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;1,500&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap");

* {
  /* font-family: "Kanit", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  height: 100vh;
}

/* =================== */
/* Sidebar section */
/* =================== */
.side-bar {
  background: #2f3e46;
  max-width: 25rem;
  height: 100vh;
  color: #ffca3a;
}

.logo {
  padding-top: 5rem;
  font-size: 2.2rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.3rem #eeb10a, 0rem -0.1rem 0.3rem #eeb10a;
}

.logo i {
  font-weight: 600;
}

.logo h1 {
  display: inline-block;
  font-size: 3rem;
  padding: 0 2rem;
}

/* ================= */
/* nav option */
/* ================= */
.side-options {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.side-options ul li {
  display: inline-block;
  width: 100%;
}

.side-options ul li a {
  color: #aed9e0;
  padding: 2rem 3rem;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.side-options ul li a:hover {
  color: #dee2ff;
  background: #28353b;
  border-top: 0.1rem solid #484b6b;
  border-bottom: 0.1rem solid #484b6b;
  text-shadow: 0.1rem 0.1rem 0.3rem #aed9e0, 0.1rem -0.1rem 0.3rem #aed9e0;
}

.side-options ul li a span {
  margin-left: 2rem;
}

/* create note */
.btn {
  padding: 1rem 2rem;
  width: 80%;
  margin: 2rem;
  background: #4bf04b;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.btn:hover {
  background: #3ec400;
}
/* =================== */
/* all notes section */
/* =================== */
.all-notes {
  background: #b2d8a1;
  width: 35%;
  height: 100vh;
  border-right: 0.1rem solid #84949b;
  border-left: 0.1rem solid #28353b;
  display: none;
}

.title-head {
  color: #000000;
  display: inline-block;
  height: fit-content;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.3rem #636363, 0rem -0.1rem 0.3rem #636363;
  width: 100%;
  padding: 3rem 2rem;
  background: #29ca4a;
  border-bottom: 0.1rem solid rgb(121, 120, 120);
}

.notes {
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
}
.notes ul {
  list-style-type: none;
}
.notes ul li {
  margin-bottom: 1.5rem;
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
  height: fit-content;
  border-radius: 0.5rem;
}

.notes ul li:hover {
  box-shadow: 0.1rem 0.1rem 0.3rem #60cbfd, 0.1rem -0.1rem 0.3rem #60cbfd,
    -0.1rem 0.1rem 0.3rem #60cbfd;
}
.notes ul li a {
  color: #28353b;
  width: 100%;
  height: 100%;
}
/* =================== */
/* main-content section */
/* =================== */

.main-content {
  flex: 1;
  background: #ffffff;
}

/* up-desc */
.up-desc {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.up-desc .btn {
  display: inline-block;
  width: 5rem;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  font-weight: 600;
}

.up-desc i {
  font-size: 1.8rem;
  margin-left: 1rem;
}
.left-desc {
  font-size: 1.3rem;
  color: #7a8083;
}

.left-desc h3 {
  display: inline-block;
  padding-left: 1rem;
}
.menu-bar {
  height: fit-content;
  background: #e3dfdf;
  display: flex;
  flex-wrap: nowrap;
  flex: 0;
  font-size: 1.6rem;
}

.menu-bar-op {
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  outline: 0;
}
.sub-menu {
  border-right: 0.1rem solid #807f7f;
}
.sub-menu i {
  margin: 0 1rem;
}
.sub-menu ul {
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
}
.sub-menu ul li {
  height: 100%;
  width: 5rem;

  /* padding: 1.2rem 0.5rem; */
}
.sub-menu ul li button:hover {
  background: #eeb10a;
}
.sub-menu select {
  margin: 1rem 0.5rem;
  padding: 0.2rem;
  border: 0.1rem solid #aed9e0;
  outline-color: #b2d8a1;
}

select.font-name {
  width: 15rem;
}

/* ====================== */
/* note edit section */
/* ====================== */

.note-edit {
  padding: 2rem;
  max-height: 85vh;
  overflow-y: scroll;
}

.note-edit input {
  display: block;
  margin-bottom: 1rem;
  padding-left: 2rem;
  border: none;
  background: #f7f3f3;
  border-radius: 0.5rem;
  outline-color: #c7c7c7;
  outline-width: 0.1rem;
  font-size: 1.5rem;
}

.note-edit input:focus {
  background: #dbdbdb;
}

.note-edit form {
  font-size: 1.6rem;
}

.note-edit form input.title {
  height: 5rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}
.note-edit form input.sub-title {
  height: 3rem;
  width: 100%;
  font-size: 1.6rem;
}

.little-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.little-desc label {
  font-weight: 700;
}
.little-desc input {
  width: 80%;
  height: 3rem;
}

.little-desc input[type="date"] {
  font-size: 1.6rem;
}

/* ================= */
/* block note */
/* ================= */

.block-note {
  width: 100%;
  min-height: auto;
  background: #eeeeee;
  margin: 2rem 0rem;
  border-radius: 0.5rem;
}

#add-sec {
  border: 0;
  float: right;
  height: 80%;
  width: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* .block-note table th, */
.block-head {
  display: inline-block;
  height: auto;
  width: 100%;
  background: lightsalmon;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.block-head div {
  display: inline-block;
}

#block-body {
  margin: 0.25rem 1rem;
}
/* .block-note table tr {
  vertical-align: top;
}

.block-note table tr td, */

.b-sec {
  margin-bottom: 0.5rem;
  background: #c1c1c1;
  width: 100%;
  min-height: 5rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  padding: 2rem;
  outline: 0;
}
