* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* =================== */
/* Sidebar section */
/* =================== */
.side-bar {
  background: #2f3e46;
  max-width: 25rem;
  height: 100vh;
  color: #ffca3a;
}

.logo {
  padding-top: 5rem;
  font-size: 2.2rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.3rem #eeb10a, 0rem -0.1rem 0.3rem #eeb10a;
}

.logo i {
  font-weight: 600;
}

.logo h1 {
  display: inline-block;
  font-size: 3rem;
  padding: 0 2rem;
}

/* ================= */
/* nav option */
/* ================= */
.side-options {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.side-options ul li {
  display: inline-block;
  width: 100%;
}

.side-options ul li a {
  color: #aed9e0;
  padding: 2rem 3rem;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.side-options ul li a:hover {
  color: #dee2ff;
  background: #28353b;
  border-top: 0.1rem solid #484b6b;
  border-bottom: 0.1rem solid #484b6b;
  text-shadow: 0.1rem 0.1rem 0.3rem #aed9e0, 0.1rem -0.1rem 0.3rem #aed9e0;
}

.side-options ul li a span {
  margin-left: 2rem;
}

/* create note */
.btn {
  padding: 1rem 2rem;
  width: 80%;
  margin: 2rem;
  background: #4bf04b;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.btn:hover {
  background: #3ec400;
}
